<link rel="stylesheet" href="/public/stylesheets/partials.css" />

<nav id="navbar">
    <% if(user) { %>
        <div class="nav-left">
            <a href="/">Your Teams</a>
            <a href="/auth/sign-out">Sign Out</a>
        </div>
    <% } else { %>
        <div class="nav-left">
            <a href="/auth/sign-in">Sign In</a>
            <a href="/auth/sign-up">Sign Up</a>
        </div>
    <% } %>
    <div class="nav-right">
        <div class="nav-logo f1-dreamlap-logo">
            F1 DreamLap
        </div>
    </div>
</nav>
