<link rel="stylesheet" href="/public/stylesheets/partials.css" />

<nav id="navbar">
    <% if(user) { %>
        <a href="/">Your Teams</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>