<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <h1> Welcome to your Teams Dashboard</h1>
    <a class = "add-team-link" href = "/dashboard/new"> Add a team</a>
    <a class = "add-team-link" href = "/auth/sign-out"> Sign out</a>

    <%teams.forEach((team)=> {%>
        <p> <%= team.name%></p>
        <%team.drivers.forEach((driver)=> {%>
            <a href = "/dashboard/driver/<%= driver._id %>">
                <p> <%= driver.name %></p>
            </a>
        <%})%>
        <%team.races.forEach((race)=> {%>
            <p> <%= race.name %></p>
        <%})%>
    <%})%>


</body>
</html>