<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> Hello</h1>
<form method="POST" action="/dashboard">
    <label for="name"> Team Name</label>
    <input type="text" name="name" required>
    <br/>
    <label for="country" name="country">Country</label>
    <input type="text" name="country" required>
    <br/>
    <label for =driver name="driver">Driver</label>
    <select name="driver">
        <% drivers.forEach(function(driver) {%>
            <option value="<%= driver._id%>"><%= driver.name%></option>
        <%})%>
    </select>
    <br/>
    <label for =race name="race">Race</label>
    <select name="race">
        <% races.forEach(function(race) {%>
            <option value="<%= race._id%>"><%= race.name%></option>
        <%})%>
    </select>
    <button type="submit">Submit</button>

</form>

</body>
</html>